{% extends "components/__layout.html" %}
{% block content %}

<div class="block">
    <div class="align-center">
    <h1 class="b"><p class="font-weight-bold">Желтов Савелий ИСТб-22-3</p></h1><br>
        <div class="b">
            Я студент второго курса института информационных технологий и анализа данных в университете ИРНИТУ. Хоть я и учусь на специалиста по информационным 
            системам, ниже на фото вы можете увидеть мои фотографии с рок концерта. Для получения образования, мои увлечения не мешают мне.
            Я создал основную тему этого сайта и подборку групп на основе своего музыкального опыта. 
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/0hF0Tz9LAQw.jpg" width="400" height="400" alt="mefirst">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/GyqrggoqvD8.jpg" width="400" height="400" alt="mesecond">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/jDjGpXd3X_c.jpg" width="400" height="400" alt="methird">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
          <div>
              Здесь вы можете найти меня в социальных сетях: <a href="https://vk.com/ubertraher"><img src="/static/vk-64x64.png" width="64" height="64" alt="vkpng"></a>
          </div>
        </div>  
    </div>
    <div class="align-center">
      <a href="/">Главная</a>
  </div>
</div>
{% endblock %}