{% extends "components/__layout.html" %}
{% block content %}

<div class="block">
    <div class="align-center">
    <h1><span style="color: white;">Глоссарий</span><br></h1>
    </div>
</div>
    
<div class="block">
        <div class="b">
            <a href="https://clck.ru/33528d">куплет</a> - (фр. couplet) — часть песни, включающая одну строфу текста и одно 
            проведение мелодии (напева).<br><br>
            <a href="https://clck.ru/33529B">припев</a> - законченная смысловая часть песни, повторяемая после каждого куплета в 
            неизменном или почти неизменном виде; рефрен<br><br>
            <a href="https://clck.ru/33529J">ударная установка</a> - набор ударных инструментов (барабанов, тарелок 
            и других), использующихся совместно одним барабанщиком. Применяется в джазовых и оркестрах танцевальной музыки, иногда в 
            симфонических и камерных оркестрах.<br><br>
            <a href="https://clck.ru/TmC9K">гитара</a> - струнный щипковый электрический музыкальный инструмент, 
            разновидность гитары, имеющая электромагнитные звукосниматели, преобразующие колебания металлических струн в колебания 
            электрического тока. Сигнал со звукоснимателей может быть обработан для получения различных звуковых эффектов и усилен — для 
            воспроизведения через акустическую систему. Слово «электрогитара» возникло от словосочетания «электрическая гитара»<br><br>
            <a href="https://clck.ru/33529U">рок-баллада</a> - Рок-баллада (англ. rock ballad; в английском языке также 
            используется название power ballad) — тип песни в рок-музыке, представляющий собой медленную, мелодичную, лирическую композицию.<br><br>
            <a href="https://ru.wikipedia.org/wiki/Scorpions">Scorpions</a> - Scorpions (рус. Скорпионз, с англ. — «Скорпионы») — немецкая
             англоязычная рок-группа, созданная в 1965 в Ганновере. Для стиля группы характерны как классический хард-рок, так и 
             лирические гитарные баллады.<br><br>
             <a href="https://wiki5.ru/wiki/Metallica">Metallica </a>- Metallica - американская группа хэви-метал . Группа была образована в 
             1981 году в Лос-Анджелесе вокалистом / гитаристом Джеймсом Хэтфилдом и барабанщиком Ларсом Ульрихом , и базируется в Сан-Франциско 
             на протяжении большей части своей карьеры.<br><br>
            <a href="https://ru.wikipedia.org/wiki/Love_at_First_Sting" >Love at First Sting</a> - (рус. Любовь с первого укуса) — девятый 
            студийный альбом немецкой рок-группы Scorpions, вышедший в 1984 году. Love at First Sting стал одним из самых успешных альбомов в 
            истории их карьеры; в Америке диск стал платиновым. Включает в себя такие известные хиты Scorpions, как 
            «Rock You Like a Hurricane», «Bad Boys Running Wild», «Coming Home», «Big City Nights», а также одну из их 
            известнейших рок-баллад — «Still Loving You».<br><br>
            <a href="https://ru.wikipedia.org/wiki/The_Beatles">The Beatles</a> - The Beatles (МФА: [ðə ˈbiː.tlz], рус. Битлз; также группу 
            называют «Ливерпульской четвёркой» (англ. Liverpool Four), отдельно участников ансамбля называют «битлами»; в английском языке 
            также распространено упоминание группы как Fab Four — «Великолепная четвёрка») — британская рок-группа из Ливерпуля, основанная 
            в 1960 году, в составе которой играли Джон Леннон, Пол Маккартни, Джордж Харрисон и Ринго Старр. Также в разное время в составе 
            группы выступали Стюарт Сатклифф, Пит Бест и Джимми Никол. Большинство композиций The Beatles созданы в соавторстве и подписаны 
            именами Джона Леннона и Пола Маккартни. Дискография группы включает 13 официальных студийных альбомов, изданных в 1963—1970 годах, 
            и 211 песен.<br><br>
            <a href="https://clck.ru/33528P">Берлинским филармоническим оркестром</a> - Берлинский 
            филармонический оркестр (нем. Berliner Philharmoniker) — крупнейший симфонический оркестр Германии, базирующийся в Берлине.<br><br> 
            <a href="https://ru.wikipedia.org/wiki/Moment_of_Glory">Moment of Glory</a> - Moment of Glory (рус. Минута славы) — сборник 
            немецкой рок-группы Scorpions, записанный совместно с Берлинским Филармоническим оркестром, вышедший в 2000 году. Альбом включает
             песни из репертуара группы Scorpions в новой аранжировке, классические интерлюдии, кавер-версию и новый сингл «Moment of Glory».<br><br>
            <a href="https://ru.wikipedia.org/wiki/Acoustica">Acoustica</a> - Acoustica — четвёртый концертный альбом группы Scorpions, выпущен 
            в мае 2001 года.<br><br>
            <a href="https://ru.wikipedia.org/wiki/Comeblack">Comeblack</a> - Comeblack — альбом-сборник немецкой хард-рок-группы Scorpions, 
            вышедший в 2011 году.<br>
            <a href="https://en.wikipedia.org/wiki/Heavy_metal_music">хэви-метал</a> - Хэви-метал (или просто метал) - это жанр рок-музыки, 
            который развивался в конце 1960-х и начале 1970-х годов, в основном в Соединенном Королевстве и Соединенных Штатах.
             Имея корни в блюз-роке, психоделическом роке и эйсид-роке, хэви-метал-группы разработали толстое, монументальное звучание, 
             характеризующееся искаженными гитарами, расширенными гитарными соло, выразительные ритмами и громкостью.<br><br>
            <a href="https://wiki5.ru/wiki/Slipknot_(band)">Slipknot</a> - Slipknot - американская хэви-метал группа из Де- Мойн, штат Айова. 
            Группа была основана в 1995 году перкуссионистом Шоном Крэханом, барабанщиком Джои Джордисоном и басистом Полом Греем. 
            После нескольких изменений в составе в первые годы существования группа более десяти лет насчитывала девять участников: 
            Крэхан, Джордисон, Грей, Крейг Джонс, Мик Томсон, Кори Тейлор, Сид Уилсон, Крис Фен и Джим Рут. Грей умер 24 мая 2010 
            года и в 2011–2014 годах его заменил гитарист Донни Стил. Джордисон был уволен из группы 12 декабря 2013 года. Стил ушел во 
            время записи The Gray Chapter. Группа нашла замену в Алессандро Вентурелла на басу и Джей Вайнберге на ударных. После ухода 
            Джордисона по состоянию на декабрь 2013 года единственным членом-основателем в текущем составе стал перкуссионист Крэхан. Фен 
            также был уволен из группы в марте 2019 года до написания We Are Not Your Kind.<br><br>
            <a href="https://wiki5.ru/wiki/Single_(music)">сингл </a> in music, сингл - это тип релиза, обычно песня, записывающая с меньшим 
            количеством треков, чем LP-запись или альбом. Он может быть выпущен для продажи широкой публике в различных форматах. В большинстве 
            случаев сингл - это песня, выпущенная отдельно от альбома, хотя обычно она также появляется в альбоме. Обычно это песни из 
            альбомов, которые выпускаются отдельно для рекламных целей , таких как цифровая загрузка или выпуск видео. В других случаях 
            запись, выпущенная как сингл, может не появиться в альбоме.<br><br>
            <a href="https://wiki5.ru/wiki/All_Hope_Is_Gone">All Hope Is Gone </a>- All Hope Is Gone - четвертый студийный альбом американской 
            хэви-метал группы Slipknot. Выпущен 20 августа 2008 года на Roadrunner Records, альбом был издан в двух версиях: 
            стандартном альбоме в CD футляре и специальном издании в шестикратном дигипаке, содержащем три бонус-трека, 40-страничный буклет 
            и бонусный DVD с документальным фильмом о записи альбома. Подготовка к альбому началась в 2007 году, а запись началась в 
            феврале 2008 года в родном штате группы Айова.<br><br>
            <a href="https://wiki5.ru/wiki/Airplay">эфир </a>- В radioвещании , трансляция - как часто песня воспроизводится на радиостанциях. 
            Песня, которая воспроизводится несколько раз в день (вращений), будет иметь значительное количество трансляций. Музыка, которая 
            стала очень популярной в музыкальных автоматах, в ночных клубах и в дискотеках в период с 1940-х по 1960-е годы, также 
            будет транслироваться по радио.<br><br>
            <a href="https://wiki5.ru/wiki/Digital_distribution">цифровой сингл </a>- Цифровое распространение (также называемое доставка 
            контента, онлайн-распространение или электронное программное обеспечение распространение (ESD), среди прочего) - это доставка или 
            распространение цифровых носителей контента, например аудио, видео, электронные книги, видеоигры и другое программное обеспечение. 
            Этот термин обычно используется для описания распространения через среду онлайн-доставки, такую ​​как Интернет, минуя методы 
            физического распространения, такие как бумага , оптические диски, и видеокассеты VHS.<br><br>
            <a href="https://wiki5.ru/wiki/Marvel_Studios">Marvel </a>- Marvel Studios, LLC (использу известная как Marvel Films с 1993 по 1996 
            год) - американская киностудия и телестудия, являющ аяся дочерней компанией The Walt Disney Studios. Marvel Studios знает 
            производство фильмов Кинематографическая вселенная Marvel, основанных на персонажах, фигурирующих в публикациях Marvel Comics.<br><br>
            <a href="https://en.wikipedia.org/wiki/Punisher:_War_Zone">Punisher: War Zone - </a>Каратель: Зона военных действий - это боевик 2008 года, основанный на персонаже Marvel 
            Comics Каратель.<br><br>
            <a href="https://wiki5.ru/wiki/Grammy_Award_for_Best_Metal_Performance">Лучшее металлическое выступление </a>- Премия Грэмми за 
            лучшее металлическое исполнение - награда, представленная на Грэмми артистам, записывающим произведения (песни или альбомы), 
            содержащие качественные выступления в жанре хэви-метал . Грэмми - это ежегодная церемония, на которой награды в нескольких 
            категориях вручаются Академия звукозаписи США, чтобы «отметить артистические достижения, техническое мастерство и общее 
            превосходство в индустрии звукозаписи, без учета продаж альбомов или положения в чартах». Церемония была учреждена в 1958 году 
            и первоначально c получил награду Gramophone Awards.<br><br>
        </div>
        <div class="align-center">
            <a href="/">Главная</a>
        </div>
</div>

{% endblock %}