{% extends "components/__layout.html" %}
{% block content %}

<div class="block">
    <div class="align-center">
    <h1><span style="color: white;">Metallica - Nothing Else Matters</span><br></h1>
    </div>
</div>

<div class="block">
    <p class="align-center"><img src="/static/blackalbom.jpg" width="300" height="300" alt="Black Albom"><br></p>
    <p class="align-center"><audio controls>
        <source src="/static/08. Nothing Else Matters.mp3" type="audio/mpeg">
    </audio>
    </p>
</div>

<div class="block">
    <div class="b">
        Структурно песня состоит из вступления, основной части, разделяемой
         проигрышем и соло, и концовки. Основная часть состоит из четырёх <a href="https://ru.wikipedia.org/wiki/Куплет" style="color: #ffffff">куплетов</a> и трех 
         <a href="/https://ru.wikipedia.org/wiki/Рефрен" style="color: #ffffff">припевов</a> между ними.
         Начинается песня с минутного вступления (0:00&nbsp;— 1:00), исполняемого на чистом звуке , пропущенным через 12 усилителей, после 
         которого начинается первый куплет. Вступление просто состоит из перебора по четырем открытым струнам, и постепенно вырисовывается уже основная гармония песни.
    </div><br>
    <div>&nbsp;</div>
    <div class="b">
        Все куплеты в песне состоят из одного — трёх четверостиший, повторяющихся несколько раз. В каждом четверостишии первые три строчки 
        объединены рифмой односложных слов (far — heart — are; way — way — say; you — new — view), последняя же строчка во всех трёх 
        четверостишиях одинакова — «And nothing else matters…». Первый куплет содержит все три четверостишья, второй — только первое, 
        третий — второе и третье, четвёртый — первое со слегка изменённой концовкой («No, nothing else matters»). Первые два припева абсолютно 
        идентичны, третий же содержит ещё две строчки в начале, состоя, таким образом, из пяти строк, а не из трёх, как первые два. Строки 
        припева идентично начинаются («Never cared for…»), лишь последняя строка («But I know») выделяется в этом отношении.
    </div>
    <div>&nbsp;</div>
    <div class="b">
        С началом первого куплета к гитаре подключаются 
        <a href="https://ru.wikipedia.org/wiki/Ударная_установка" style="color: #ffffff">ударная установка</a> , играющая вплоть до начала четвёртого куплета. После 
        второго припева начинается  проигрыш (3:03&nbsp;— 3:44), исполняемый на чистом звуке электрогитар. Соло (4:55&nbsp;— 5:23) играет 
        <a href="https://ru.wikipedia.org/wiki/Электрогитара" style="color: #ffffff"ы>гитара</a> , в конце (5:14) перестаёт играть ударная установка и вновь вступает 
        электрогитара на чистом звуке, остающаяся до конца песни единственным инструментом. В завершении (5:45&nbsp;— 6:28) снова играется тема 
        вступления с постепенным затуханием. Однако в 1996-2008 годы на живых выступлениях ударная установка вступала лишь во втором куплете, 
        а после гитарного соло песня заканчивалась.
    </div>
    <div>&nbsp;</div>
    <div class="b">
        Далее предлагаю вам взглянуть на следующую композицию - <a href="/scorpions">Scorpions - Still Loving you</a> или <a href="/slipknot">Slipknot - Psychosocial</a>
    </div>
    <div>&nbsp;</div>
    <div class="align-center">
        <a href="/">Главная</a>
    </div>
</div>
{% endblock %}