{% extends "components/__layout.html" %}
{% block content %}

<div class="block">
    <div class="align-center">
    <h1><span style="color: white;">Scorpions - Still Loving You</span><br></h1>
    </div>
</div>

<div class="block">
    <p class="align-center"><img src="/static/Stilllovingyou.jpg" width="300" height="300" alt="StillLovingYou"><br></p>
    <p class="align-center"><audio controls>
        <source src="/static/Scorpions - Still Loving You (2015 - Remaster) (2015 - Remaster).mp3" type="audio/mpeg">
    </audio>
    </p>
</div>

<div class="block">
    <div class="b">
        <b>«Still Loving You»</b> <span lang="ru" style="font-style:italic;">Всё ещё люблю тебя</span> 
        <a href="https://clck.ru/33529U">рок-баллада</a> группы <a href="https://ru.wikipedia.org/wiki/Scorpions">Scorpions
        </a>, выпущенная в альбоме <a href="https://ru.wikipedia.org/wiki/Love_at_First_Sting" >Love at First Sting</a> 
        в 1984 году. Считается международной «визитной карточкой» группы. Во Франции было продано около 1,7 млн копий. Песня 
        является одним из самых успешных синглов группы. Она вызвала такую волну истерии у французских поклонников, какая не наблюдалась 
        во Франции со времён <a href="https://ru.wikipedia.org/wiki/The_Beatles">The Beatles</a>.
    </div>
    <div>&nbsp;</div>
    <div class="b">
        Песня о том, как автор переживает разлуку с любимой и, несмотря на то, что после ссоры гордость мешает им 
        быть вместе, он всё равно любит её и готов бороться за её любовь.
    </div>
    <div>&nbsp;</div>
    <div class="b">
        В 2000 году была записана вместе с 
        <a href="https://clck.ru/33528P">Берлинским филармоническим оркестром</a>   
        для альбома <a href="https://ru.wikipedia.org/wiki/Moment_of_Glory">Moment of Glory</a>, в 2001 году акустическая версия песни была 
        включена в альбом <a href="https://ru.wikipedia.org/wiki/Acoustica">Acoustica</a>. В 2011 перезаписанная версия вошла в альбом 
        <a href="https://ru.wikipedia.org/wiki/Comeblack">Comeblack</a>
    </div>
    <div>&nbsp;</div>
    <div class="b">
        Далее следующая композиция - <a href="/slipknot">Slipknot - Psychosocial</a>, <a href="/metallica">Metallica - Nothing Else Matters</a>
    </div>
    <div>&nbsp;</div>
    <div class="align-center">
        <a href="/">Главная</a>
    </div>
</div>

{% endblock %}