{% extends "components/__layout.html" %}
{% block content %}
<div class="block">
    <div class="align-center">
    <h1><span style="color: white;">Slipknot - Psychosocial</span><br></h1>
    </div>
</div>

<div class="block">
    <p class="align-center"><img src="/static/Slipknot_Psychosocial.jpg" width="300" height="300" alt="Psychosocial"><br></p>
    <p class="align-center"><audio controls>
        <source src="/static/04. Psychosocial.mp3" type="audio/mpeg">
    </audio>
    </p>
</div>

<div class="block">
    <div class="b">
        <b>Psychosocial </b> - песня американской <a href="https://en.wikipedia.org/wiki/Heavy_metal_music">
        хэви-метал </a>группы <a href="https://wiki5.ru/wiki/Slipknot_(band)">Slipknot </a>. Она была выпущена как второй 
        <a href="https://wiki5.ru/wiki/Single_(music)">сингл </a>и четвертый трек с их четвертого студийного альбома 
        <a href="https://wiki5.ru/wiki/All_Hope_Is_Gone">All Hope Is Gone </a>. Песня вошла в 
        <a href="https://wiki5.ru/wiki/Airplay">эфир </a>26 июня 2008 г. и первоначально планировалась к выпуску как 
        <a href="https://wiki5.ru/wiki/Digital_distribution">цифровой сингл </a>1 июля, но была отложена и выпущена 8 июля. Slipknot 
        исполнили "Psychosocial" вживую для впервые 9 июля 2008 г. . В 2008 году песня была включена в саундтрек к фильму 
        <a href="https://wiki5.ru/wiki/Marvel_Studios">Marvel </a><a href="https://en.wikipedia.org/wiki/Punisher:_War_Zone">Punisher: 
        War Zone </a>. Песня также была номинирована на «<a href="https://wiki5.ru/wiki/Grammy_Award_for_Best_Metal_Performance">
        Лучшее металлическое выступление </a>» на <a href="https://wiki5.ru/wiki/51st_Annual_Grammy_Awards">51-й премии 
        «Грэмми» </a>, но проиграла группе <a href="https://wiki5.ru/wiki/Metallica">Metallica </a>«<a href="https://wiki5.ru/wiki/My_Apocalypse">
        My Apocalypse </a>. ", и был номинирован на <a href="https://wiki5.ru/wiki/Kerrang!_Award_for_Best_Single">Kerrang! Награда за лучший 
        сингл </a>.
    </div>
    <div>&nbsp;</div>
    <div class="b">
        "Psychosocial" вместе с двумя другими песнями Slipknot, "<a href="https://wiki5.ru/wiki/Duality_(song)">Duality </a>" и 
        "<a href="https://wiki5.ru/wiki/Sulfur_(song)">Sulphur </a>", была выпущена как <a href="https://wiki5.ru/wiki/Downloadable_content">
        загружаемый контент </a>для <a href="https://wiki5.ru/wiki/Rock_Band_(video_game)">Rock Band </a>и 
        <a href="https://wiki5.ru/wiki/Rock_Band_2">Rock Band 2 </a>8 декабря 2009 г. Он также используется в качестве воспроизводимого трека 
        в <a href="https://en.wikipedia.org/wiki/Guitar_Hero:_Warriors_of_Rock">Guitar Hero: Warriors of Rock </a>.
    </div> 
    <div>&nbsp;</div>
    <div class="b">
        Взгляните еще раз: <a href="/scorpions">Scorpions - Still Loving you</a>, 
        <a href="/metallica">Metallica - Nothing Else Matters</a>
    </div>
    <div>&nbsp;</div>
    <div class="align-center">
        <a href="/">Главная</a>
    </div>
</div>
{% endblock %}